<h2>Đăng ký</h2>
<form method="POST" action="/register">
  Username: <input name="username" required><br>
  Password: <input type="password" name="password" required><br>
  <button>Đăng ký</button>
</form>
<a href="/login">Đã có tài khoản? Đăng nhập</a>
